**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [3]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

Setup Complete

Use the next code cell to fetch the dataset.

In [4]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [8]:
# Write the code you need here to figure out the answer
tables = list(client.list_tables(dataset))
for i in tables:
    print(i.table_id)

crime

In [9]:
num_tables = len(list(client.list_tables(dataset)))  # Store the answer as num_tables and then run this cell

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [10]:
#q_1.hint()
#q_1.solution()

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [11]:
# Write the code to figure out the answer
table_ref = dataset_ref.table("crime")


table = client.get_table(table_ref)

In [12]:
num_timestamp_fields = 2 # Put your answer here

# Check your answer
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [14]:
# Write the code here to explore the data so you can find the answer
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,2469852,HH798858,2002-10-24 18:30:00+00:00,054XX W 63RD ST,1206,DECEPTIVE PRACTICE,"THEFT BY LESSEE,MOTOR VEH",OTHER,False,False,...,13,64,11,None,None,2002,2015-08-17 15:03:40+00:00,None,None,None
1,10468068,HZ206840,2015-09-01 08:00:00+00:00,098XX S AVENUE M,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,10,52,11,None,None,2015,2018-02-09 15:44:29+00:00,None,None,None
2,7170958,HR580901,2009-10-10 10:20:00+00:00,081XX S STONY ISLAND AVE,502R,OTHER OFFENSE,VEHICLE TITLE/REG OFFENSE,OTHER,True,False,...,8,45,26,None,None,2009,2015-08-17 15:03:40+00:00,None,None,None
3,7545766,HS349208,2007-03-24 09:00:00+00:00,020XX W 95TH ST,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,OTHER,False,False,...,19,72,11,None,None,2007,2015-08-17 15:03:40+00:00,None,None,None
4,8030152,HT261204,2011-04-22 10:31:00+00:00,059XX N NORTHWEST HWY,1780,OFFENSE INVOLVING CHILDREN,OTHER OFFENSE,RESIDENCE,False,True,...,41,10,26,None,None,2011,2016-04-15 11:16:05+00:00,None,None,None

In [15]:
fields_for_plotting = ['latitude','longitude'] # Put your answers here

# Check your answer
q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [ ]:
client.list_rows(table)  # Scratch space for your code

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---
**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**





*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum/161314) to chat with other Learners.*